<div id="clearance" class="sign-up">
  <h2>Join Wizzle</h2>
  <p>Create your account to start sharing wishlists with friends</p>

  <%= form_for @user do |form| %>
    <div class="text-field">
      <%= form.label :email, "Email Address" %>
      <%= form.email_field :email, placeholder: "your@email.com" %>
    </div>

    <div class="password-field">
      <%= form.label :password, "Password" %>
      <%= form.password_field :password, placeholder: "Enter a secure password" %>
      <small style="color: #888;">Minimum length: 8 characters</small>
    </div>

    <div class="submit-field">
      <%= form.submit "Create Account" %>
    </div>

    <div class="other-links">
      <p>
        Already have an account? 
        <%= link_to "Sign in here", sign_in_path %>
      </p>
    </div>
  <% end %>
</div>
