<nav class="custom-navbar">
  <div class="navbar-left">
    <%= link_to 'Home', root_path %>
    <%= link_to 'How it Works', how_it_works_path %>
  </div>
  <div class="navbar-right">
    <% if signed_in? %>
      <span class="navbar-item">
        <%= link_to 'Profile', profile_path, class: "profile-link" %>
      </span>
      <span class="navbar-item">
        <%= link_to "Friend's Wishlists", friends_wishlists_path, class: "friends-wishlists-link" %>
        <% if @pending_friend_invites_count.to_i > 0 %>
          <span class="navbar-badge"><%= @pending_friend_invites_count %></span>
        <% end %>
      </span>
      <span class="navbar-item">
        <%= link_to "Friends", friends_path, class: "friends-link" %>
      </span>
      <span class="navbar-item">
        <%= link_to "Communities", communities_path %>
      </span>
      <span class="navbar-item">
        <%= link_to "Questions", questions_path, class: "questions-link" %>
        <% if @new_wishlist_item_notes_count.to_i > 0 %>
          <span class="navbar-badge" title="New questions"><%= @new_wishlist_item_notes_count %></span>
        <% end %>
      </span>
      <span class="navbar-item">
        <%= button_to 'Sign out', sign_out_path, method: :delete, class: "signout-btn" %>
      </span>
    <% else %>
      <span class="navbar-item">
        <%= link_to 'Sign in', sign_in_path, class: "signin-link" %>
      </span>
    <% end %>
  </div>
</nav>
